<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TicketClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <TicketClient.Properties.Settings>
            <setting name="IsSpeech" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsCodeOCR" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FromStationName" serializeAs="String">
                <value />
            </setting>
            <setting name="FromStationCode" serializeAs="String">
                <value />
            </setting>
            <setting name="ToStationName" serializeAs="String">
                <value />
            </setting>
            <setting name="ToStationCode" serializeAs="String">
                <value />
            </setting>
            <setting name="TrainDate" serializeAs="String">
                <value />
            </setting>
        </TicketClient.Properties.Settings>
    </userSettings>
</configuration>